@use "src/styles/variables" as *;

.vm-autocomplete-list {
  position: relative;
  min-width: 100px;
  max-height: 300px;
  overflow: auto;
  overscroll-behavior: none;

  &_mobile {
    width: 100vw;
  }
}
