@use "src/styles/variables" as *;

$input-limit-width: 200px;

.vm-query-page-header {
  display: grid;
  align-items: center;
  gap: $padding-small;

  &-top {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(auto, $input-limit-width);
    align-items: flex-start;
    justify-content: center;
    gap: $padding-small;
    margin-bottom: -6px;
  }

  &-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: $padding-small;

    &-contols {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $padding-small;
      flex-grow: 1;
    }

    &-execute {
      position: relative;
      display: grid;

      &__text {
        position: absolute;

        &_hidden {
          position: relative;
          visibility: hidden;
        }
      }
    }

    &-helpful {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
