@use "src/styles/variables" as *;

.vm-query-editor {
  position: relative;

  .marker-detection {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -9999;
    visibility: hidden;
  }

  .vm-logsql-highlight {
    &__token {
      &_comment {
        color: $color-logsql-comment;
      }

      &_string {
        color: $color-logsql-string;
      }

      &_number {
        color: $color-logsql-number;
      }

      &_keyword {
        color: $color-logsql-keyword;
      }

      &_pipe {
        color: $color-logsql-pipe;
      }

      &_function {
        color: $color-logsql-function;
      }

      &_field {
        color: $color-logsql-field;
      }

      &_operator {
        color: $color-logsql-operator;
      }
    }
  }

  &-help-tooltip {
    &-item {
      display: grid;
      grid-template-columns: 80px 1fr;
      padding: 4px 0;
      border-bottom: $border-divider;

      &:last-child {
        border-bottom: none;
      }

      span:last-child {
        text-align: right;
      }
    }
  }
}
