@use "src/styles/variables" as *;
@use "sass:color";

$color-light: color.scale($color-tropical-blue, $lightness: -60%);
$color-dark: color.scale($color-dodger-blue, $lightness: 40%);

$bg-color-light: color.scale($color-tropical-blue, $lightness: 60%);
$bg-color-dark: $color-background-body;

.vm-extra-filters-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc($padding-small / 2);
  font-size: $font-size-small;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($padding-small / 2);
    padding-block: 1px;
    padding-inline: $padding-small 2px;
    border-radius: $border-radius-button;
    color: $color-text-secondary;
    background-color: $color-hover-black;

    &__remove {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: calc($border-radius-medium - 2px);
      color: $color-text-secondary;
      background-color: transparent;
      padding: calc($padding-small / 2);
      cursor: pointer;

      &:hover {
        background-color: $color-hover-black;
      }

      svg {
        width: 14px;
      }
    }
  }
}
