@use "src/styles/variables" as *;

.vm-query-page {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100%;
  gap: $padding-medium;
  justify-content: flex-start;

  &_with-sidebar {
    grid-template-columns: auto 1fr;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: $padding-medium;
    min-width: 0;
  }
}
