@use "src/styles/variables" as *;

.vm-code-example {
  position: relative;
  display: block;
  padding: $padding-global;
  white-space: pre-wrap;
  border-radius: $border-radius-medium;
  background-color: $color-hover-black;
  color: $color-text;
  overflow: auto;

  &__copy {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
